@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'android';
    src: url('../font/idroid.otf') format('opentype') ;
}

* {
    margin: 0px;
    padding: 0px;
}

:root {
    --cor0: #72DE5F;
    --cor1: #72DE5F;
    --cor2: #0C7313;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #08420E;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fone-android: 'android', cursive;
}

body {
    background-color: #588C3F;
    font-family: var(--fonte-padrao);
}
a.externo::after {
    content: '\00A0\1F517';
}

header {
    background-image: linear-gradient(to bottom, #4e7c38, #375729, #28401D);
    color: #ffffffd5;
    font-family: var(--fonte-destaque);
    min-height: 150px;
    text-align: center;
    padding-top: 30px;
}

header > h1 {
    font-weight: normal;
    font-size: 3em;
    color: #ffffffe0;
    font-family: var(--fonte-destaque);
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.315);
}

header p {
    color: #ffffffce;
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    max-width: 500px;
    padding-left: 10px;
    padding-right: 10px;
    margin: auto;
    padding-bottom: 50px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.315);
}

nav {
    display: flex;
    justify-content: center;
    gap: 20px;
    height: 50px;
    background-color: #29411e;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.678);
}

nav > a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    padding: 5px;
    color: #ffffff;
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.507);
}

nav > a:hover { 
    background-color: #2d7a44;
    transition-duration: 0.5s;
    cursor: pointer;
}

main {
    padding: 20px;
    margin: auto;
    margin-bottom: 20px;
    font-family: var(--fonte-padrao);
    background-color: #ffffff;
    max-width: 1000px;
    min-width: 250px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.700);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

main h1{
    font-size: 1.8em;
    font-weight: normal;
    color: #093f0c;
    font-family: var(--fone-android);
}

main h2{
    font-weight: normal;
    text-indent: 8px;
    color: rgb(16, 56, 12);
    font-family: var(--fone-android);
    background-image: linear-gradient(to right, #588C3F, transparent);
}

main p {
    margin: 20px 0px;
    font-size: 1em;
    text-align: justify;
    text-indent: 30px;
    line-height: 1.7em;
}

main strong {
    color: rgb(13, 122, 22); 
}

main a {
    text-decoration: none;
    color: #000000;
    background-color: #6fa573;
    padding: 1px 5px;
}

main a:hover {
    background-color: #72DE5F;
    text-decoration: underline;
}

main img {
    width: 100%;
}

main img.pequena {
    max-width: 300px;
    display: block;
    margin: auto;
}

div.video {
    position: relative;
    padding: 20px;
    margin: 0px -20px 30px -20px ;
    padding-bottom: 60%;
    background-color: var(--cor5);
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

aside {
    background-color: rgb(220, 220, 190);
    padding: 10px;
    border-radius: 10px;
}

aside > ul {
    list-style:  '\2714\00A0\00A0';
    list-style-position: inside;
    columns: 2; 
}

aside > h3 {
    background-color: var(--cor4);
    color: white;
    padding: 5px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}

footer {
    font-family: var(--fonte-padrao);
    background-color: #0a3f10;
    color: white;
    text-align: center;
    font-weight: bold;
    padding: 5px;
    font-size: 1em;
}

footer > p > a {
    color: #eff3ef;
    text-decoration: none;
    
}

footer a:hover {
    color: #002efd;
    background-color: #ffffff;
     
}
